.apple {
 color: #000000; 
 background: rgb(14,168,212);
 background: linear-gradient(90deg, rgba(14,168,212,0) 0%, rgba(81,103,110,1) 0%, rgba(0,0,0,0.7217087518601191) 100%);
 padding: 100px;
}
.gamemaster{
  display: flex;
}

.player_one{
  flex: 20%;
}

.player_two{
  flex: 80%;
  padding: 20px;
}

.player_three{
    flex: 40%;
    padding: 30px;
  }
  
  .player_four{
    flex: 30%;
    padding: 30px;
  }

  .player_five{
      flex: 30%;
      padding: 30px;
  }

.headermass{
  margin-top: 50px;
  margin-bottom: 1024px;
}

.bear{
 position: absolute;
 left: 103px;
 top: 95px
}



.rotate {
    position: absolute;
    left: 10px;
    top: 1px;
    animation: rotation 8s infinite linear;
    height: 350px;
    right: auto;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  

  .mysexybody{
      text-align: justify;
      padding: 50px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.1026611328125) 0%, rgba(55,230,12,1) 0%, rgba(221,249,5,0.814145726650035) 71%);
  }

  .bodymaster{
      display: flex;
  }

.body1{
    flex: 35%;
    padding: 30px;
}

.body2{
    flex: 65%;
    padding: 200x;
}

.king{
    height:256;
}

.myslimbody{
    text-align: justify;
    padding: 50px;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.1026611328125) 0%, rgba(255,74,167,1) 0%, rgba(226,255,0,0.814145726650035) 72%);
}
.player_six{
    flex: 40;
    padding: 30px;
}
.player_seven{
    flex: 30;
    padding: 30px;
}
.player_eight{
    flex: 30;
    padding: 30px;
}
.myhealthybody{
    text-align: justify;
    padding: 50px;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.1026611328125) 0%, rgba(255,147,0,0.7553221972382703) 0%, rgba(226,255,0,0.814145726650035) 72%);
}

.player_nine{
    flex: 40;
    padding: 30px;
}
.player_ten{
    flex: 30;
    padding: 30px;
}
.player_eleven{
    flex: 30;
    padding: 30px;
}

.myendlessbody{
    text-align: center;
    padding: 20px;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.1026611328125) 0%, rgba(255,147,0,0.7553221972382703) 0%, rgba(226,255,0,0.814145726650035) 72%);
}







